.footer {
  padding-top: 51px;
  padding-bottom: 54px;
}
.footer__social-navigation {
  display: grid;
  justify-content: center;
  grid-template-columns: 30px 30px 30px 30px;
  gap: 35px;
  margin-bottom: 26px;
}
.footer__social-item {
  list-style: none;
}
.footer__social-link {
  & svg {
    width: 40px;
    aspect-ratio: 1 / 1;
    fill: #21243d;
    transition: 0.3s;

    &:hover {
      fill: #ff6464;
      transform: scale(1.3);
    }
  }
}
.footer__copy-text {
  font-size: 14px;
  text-align: center;
}
