.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 59px;

  &__container {
    padding-inline: calc(50vw - 164px);
  }

  &__img-wrapper {
    width: 170px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      position: absolute;
      background-color: $background-main;
      top: 10px;
      right: 4px;
      z-index: -1;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-size: 32px;
    margin-top: 34px;
    margin-bottom: 21px;
    font-weight: 600;
    max-width: 310px;
    line-height: 40px;
    text-align: center;
    color: #21243d;
  }

  &__desc {
    font-size: 16px;
    // max-width: 310px;
    text-align: center;
    color: #21243d;
    line-height: 1;
  }

  &__button {
    display: block;
    margin-top: 27px;
  }

  @media screen and (min-width: 700px) {
    &__img-wrapper {
      width: 170px;

      &::after {
        width: 243px;
        height: 243px;
        top: 13px;
        right: 5px;
      }
    }
  }
}
